NEXTAUTH_SECRET=cambia-esto-por-un-secreto-seguro-en-produccion
NEXTAUTH_URL=http://localhost:3000

GOOGLE_CLIENT_ID=tu-google-client-id
GOOGLE_CLIENT_SECRET=tu-google-client-secret

ADMIN_EMAIL=admin@peluqueria.com
ADMIN_PASSWORD=admin123
